/*
 * Define commonly used sizes
 */

$WIDTH: 960px;

$F0: 64px;
$F1: $F0 * 0.75;
$F2: $F1 * 0.75;
$F3: $F2 * 0.75;
$F4: $F3 * 0.75;

$M0: 64px;
$M1: $M0 * 0.75;
$M2: $M1 * 0.75;
$M3: $M2 * 0.75;
$M4: $M3 * 0.75;

$LINK_COLOR: #001540;
$HOVR_COLOR: #003fbf;
