/*---------------------------------------------------*/
// Define commonly used sizes
/*---------------------------------------------------*/

$WIDTH: 960px;

// font sizes
$F0: 96px;
$F1: $F0 * 0.75;
$F2: $F1 * 0.75;
$F3: $F2 * 0.75;
$F4: $F3 * 0.75;
$F5: $F4 * 0.75;
$F6: $F5 * 0.75;

// margins
$M0: 72px;
$M1: $M0 * 0.75;
$M2: $M1 * 0.75;
$M3: $M2 * 0.75;
$M4: $M3 * 0.75;
$M5: $M4 * 0.75;
$M6: $M5 * 0.75;

// paddings
$P0: 54px;
$P1: $P0 * 0.75;
$P2: $P1 * 0.75;
$P3: $P2 * 0.75;
$P4: $P3 * 0.75;
$P5: $P4 * 0.75;
$P6: $P5 * 0.75;

// colors
$SITEIDc: #0b486b;
$LINKc  : #3b8686;
$HOVERc : #a8dba8;
