<!DOCTYPE html>
<html>
<!--------------------------------------------------------------------!>
<head>
    <title>{{ page.title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="/css/syntax.css" rel="stylesheet" type="text/css" />
    <link href="/css/default.css"rel="stylesheet" type="text/css" />
</head>
<!--------------------------------------------------------------------!>
<body>
    <div class="menu">
        <span id="site-id">
            <a href="/">hoeysoft</a>
        </span>
        <span id="about">
            <a href="/about.html">about</a>
        </span>
    </div>

    <div id="content">
        {{ content }}
    </div>

<!--    {% if page.id %}--!>
<!--    <div id="tail">--!>
<!--        <a href="/">back</a>--!>
<!--    </div>--!>
<!--    {% endif %}--!>
</body>
<!--------------------------------------------------------------------!>
</html>
