<!DOCTYPE html>
<html>
<!--------------------------------------------------------------------!>
<head>
    <title>hoeysoft</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="/css/syntax.css" rel="stylesheet" type="text/css" />
    <link href="/css/default.css"rel="stylesheet" type="text/css" />
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript">

// ---------------------------------------------------------------------
// Inline scripts
// ---------------------------------------------------------------------
$(document).ready(function() {
    // Open external links in a new window.
    $('a').each(function() {
        console.log('hoey')
        var a = new RegExp('/' + window.location.host + '/');
        if(!a.test(this.href)) {
            $(this).click(function(event) {
                event.preventDefault();
                event.stopPropagation();
                window.open(this.href, '_blank');
            });
        }
    });
})
// ---------------------------------------------------------------------

    </script>
</head>
<!--------------------------------------------------------------------!>
<body>
    <div class="menu">
        <span id="site-id">
            <a href="/">hoeysoft</a>
        </span>
        <span id="about">
            <a href="/about.html">about</a>
        </span>
    </div>

    <div id="content">
        {{ content }}
    </div>

    {% if page.id %}
    <div id="tail">
        <a href="/">back</a>
    </div>
    {% endif %}
</body>
<!--------------------------------------------------------------------!>
</html>
